.btn-custom {
    margin-left: 5px;
}

.body {
    margin: 5px;
    padding-top: 10px; 
}

.form-card {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.align-right{
    float: right;
}